@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

#content {
  margin: 20px;
}

#heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(  #37FF8B, cyan);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid;
  border-image-source: linear-gradient(to right,  cyan , #37FF8B);
  border-image-slice: 1;
  padding: 20px;
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.div-style {
  padding: 0 5px;
  min-height: 120px;
  border: 2px solid currentColor;
}

.div-heading {
  font-size: 22px;
  padding: 2px 0;
  border-bottom: 1px solid currentColor;
  margin-bottom: 5px;
}

#project-div {
  width: 20vw;
  color: cyan;
}

.project-title {
  font-size: 15px;
  cursor: pointer;
  padding: 2px 0;
}

#todo-div {
  width: 70vw;
  color: #37FF8B;
}

@media screen and (max-width: 760px) {
  #project-div {
    width: 28vw;
  }
  #todo-div {
    width: 55vw;
  }
}

@media screen and (max-width: 480px) {

  #heading {
    font-size: 26px;
  }

  #project-div {
    width: 25vw;
  }

  #todo-div {
    width: 52vw;
  }
}

@media screen and (hover:hover) {
  .project-title:hover {
    color: #00bfff;
  }  
}