@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

#content {
  margin: 20px;
}

#heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(  #37FF8B, cyan);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid;
  border-image-source: linear-gradient(to right,  cyan , #37FF8B);
  border-image-slice: 1;
  padding: 20px;
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.div-style {
  padding: 0 5px 5px 5px;
  min-height: 120px;
  border: 2px solid currentColor;
}

.div-heading {
  font-size: 22px;
  padding: 2px 0;
  border-bottom: 1px solid currentColor;
  margin-bottom: 5px;
}

#project-div {
  width: 20vw;
  color: cyan;
}

.project-title {
  font-size: 15px;
  cursor: pointer;
  padding: 2px 0;
}

#add-project {
  margin: 5px 0 0 0;
}

#input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#get-project-title {
  border: 1px solid cyan;
  outline: none;
  caret-color: currentColor;
  color: cyan;
  padding: 2px;
  font-size: 16px;
  width: 75%;
}
#get-project-title:focus {
  color: #00bfff;
}

.project-button {
  width: 20%;
  border: 1px solid currentColor;
  color: cyan;
  font-size: 16px;
  padding: 0;
  outline: none;
}

#todo-div {
  width: 70vw;
  color: #37FF8B;
  overflow: auto;

}

#todo-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}
td {
  text-align: center;
}
#todo-table, th, td {
  border: 1px solid currentColor;
}

#add-todo-btn {
  display: none;
  width: 100%;
  padding: 2px;
  margin-top: 10px;
}

.todo-button {
  width: 20%;
  border: 1px solid currentColor;
  color: currentColor;
  font-size: 16px;
  padding: 0;
  outline: none;
}

#todo-input {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todo-input {
  border: 1px solid #37FF8B;
  caret-color: currentColor;
  color: currentColor;
  font-size: 14px;
  outline: none;
}
.todo-input:focus {
  color: #47ff37;
}

#todo-title-input {
  width: 45%;
}

#todo-date-input {
  border: 1px solid currentColor;
  outline: none;
  background-color: white;
}

#todo-priority-input {
  background-color: black;
  color: #37FF8B;
}

#todo-status-input {
  width: 20px;
  height: 20px;
}

#todo-add-btn, #todo-cancel-btn {
  width: 10%;
}

.add-button {
  border: 1px solid currentColor;
  outline: none;
  color: currentColor;
  width: 100%;
  margin: 5px 0;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  #project-div {
    width: 28vw;
  }
  #todo-div {
    width: 55vw;
  }
}

@media screen and (max-width: 480px) {

  #content {
    margin: 10px;
  }
  #heading {
    font-size: 26px;
  }

  #project-div {
    width: 25vw;
  }
  #add-project-title {
    font-size: 14px;
  }
  #todo-div {
    width: 60vw;
  }
  #todo-table {
    font-size : 12px;
  }
  #td {
    font-size: 10px;
  }
}

@media screen and (hover:hover) {
  .project-title:hover {
    color: #00bfff;
  }
  #add-project:hover {
    color: #00bfff;
  }
  .project-button:hover {
    color: #00bfff;
  }
  .todo-button:hover {
    color: #47ff37;
  }
}